:root {

  /**
   * 主题色
   * -------------------------------------------------------------------------- */

  --vp-c-brand-1: rgba(80, 134, 161, 1);              /* 链接颜色、强调色 */
  --vp-c-brand-2: #6aa1b7;                            /* 链接、按钮 hover 颜色 */
  --vp-c-brand-3: #8cccd5;                            /* 背景色、边框色 */
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);      /* 辅助色 */

  /**
   * 文本颜色
   * -------------------------------------------------------------------------- */

  --vp-c-text-1: rgba(60, 60, 67);                    /* 主要文本 */
  --vp-c-text-2: rgba(60, 60, 67, 0.78);              /* 次要文本 */
  --vp-c-text-3: rgba(60, 60, 67, 0.56);              /* 辅助文本 */

  /**
   * 背景色
   * -------------------------------------------------------------------------- */

  --vp-c-bg: #fff;                                    /* 主体背景 */
  --vp-nav-bg-color: #fff;                            /* 导航栏背景 */
  --vp-nav-screen-bg-color: #fff;                     /* 移动端导航栏 */
  --vp-local-nav-bg-color: #fff;                      /* 页面内导航栏 */
  --vp-sidebar-bg-color: #f6f6f7;                     /* 侧边栏背景 */
  --vp-code-block-bg: #f6f8fa;                        /* 代码块背景 */
}

[data-theme="dark"] {

  /**
   * 主题色
   * -------------------------------------------------------------------------- */

  --vp-c-brand-1: rgba(255, 176, 0, 1);               /* 链接颜色、强调色 */
  --vp-c-brand-2: rgba(255, 255, 255, 1);             /* 链接、按钮 hover 颜色 */
  --vp-c-brand-3: rgba(255, 255, 51, 1);               /* 背景色、边框色 */
  --vp-c-brand-soft: rgba(40, 60, 40, 0.314);         /* 辅助色 */

  /**
   * 文本颜色
   * -------------------------------------------------------------------------- */

  --vp-c-text-1: rgba(65, 255, 0, 0.86);              /* 主要文本 */
  --vp-c-text-2: rgba(45, 235, 0, 0.6);               /* 次要文本 */
  --vp-c-text-3: rgba(55, 245, 0, 0.38);              /* 辅助文本 */

  /**
   * 背景色
   * -------------------------------------------------------------------------- */

  --vp-c-bg: rgba(5, 1, 5, 1);                        /* 主体背景 */
  --vp-nav-bg-color: rgba(5, 8, 5, 1);                /* 导航栏背景 */
  --vp-nav-screen-bg-color: rgba(5, 8, 5, 1);         /* 移动端导航栏 */
  --vp-local-nav-bg-color: rgba(5, 8, 5, 1);          /* 页面内导航栏 */
  --vp-sidebar-bg-color: rgba(5, 8, 5, 1);            /* 侧边栏背景 */
  --vp-code-block-bg: rgba(20, 22, 20, 1);            /* 代码块背景 */
}
